html,
body {
  background: $app-page-background;
}

.body-wrapper {
  background: $app-body-background;
  color: $app-body-text;
}

.textbox {
  color: $app-body-text;
}

.big-text {
  font-size: 16pt;
}
