//Main structure
html,
body {
  @include pad(0);

  height: 100%;
  margin: 0;
  min-height: 100%;
}

.body-wrapper {
  @include outer-container();

  min-height: 100%;
}

.flex-wrapper {
  @include display(flex);
  @include flex-direction(column);

  min-height: 100vh;
}

header {
  @include row();
}

.header-title {
  @include span-columns(8);
  @include shift(2);

  min-height: 55px;
}

main {
  @include row();
  @include flex(1);
  @include pad(10px);
}

.exercise {
  @include span-columns(12);
  @include pad(0 0 20px 0);

  label {
    display: inline-block;
  }

  .textbox {
    display: inline-block;
    width: 100px;
  }
}

h3 {
  @include pad(0 0 10px 0);
}

footer {
  @include row();
  @include pad(10px);

  height: 60px;

  img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px;
  }

  p {
    float: right;
    line-height: 40px;
    margin: 0;
  }

  .license {
    display: inline-block;
    height:40px;
    line-height: 40px;
  }
}

//Helper Classes
.hidden {
  display: none;
}
