//Main structure
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.body-wrapper {
  @include outer-container();

  min-height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  @include row();
}

.header-title {
  @include span-columns(8);
  @include shift(2);

  min-height: 55px;
}

main {
  @include row();

  flex: 1;
}

label {
  display: inline-block;
  margin: 0 0 0 15px;
}

form > .textbox {
  display: inline-block;
}

input[type="text"].textbox {
  width: 150px;
}

aside {
  @include span-columns(3);

  padding: 10px;
}

button {
  display: block;
  margin: 10px auto;
}

#text-container {
  @include span-columns(9);

  padding: 10px;
}

footer {
  @include row();

  height: 60px;
  padding: 10px;

  img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px;
  }

  p {
    float: right;
    line-height: 40px;
    margin: 0;
  }

  .license {
    display: inline-block;
    height:40px;
    line-height: 40px;
  }
}
