html,
body {
  background: $app-page-background;
}

.body-wrapper {
  background: $app-body-background;
  color: $app-body-text;
}

aside {
	background: lighten($app-header-background, 30%);
	border-radius: 0 0 10px 0;
}
