// Base colors
$bankrupt: #3b3737; // http://www.colourlovers.com/color/3B3737/emotionally_bankrupt
$bloodwort: #991818; // http://www.colourlovers.com/color/991818/Bloodwort
$imdur: #f7f7f7; //http://www.colourlovers.com/color/F7F7F7/Imdur3
$robin: #9dd3df; // http://www.colourlovers.com/color/9DD3DF/Dark_Robins_Egg
$satin: #c9d1d3; // http://www.colourlovers.com/color/F7F7F7/Imdur3

// Brighter variants
$dogz: #c5cdcf; // http://www.colourlovers.com/color/C5CDCF/d0gz_grey
$purit: #cc0909; // http://www.colourlovers.com/color/CC0909/Purit
$snappy: #09b2cf; // http://www.colourlovers.com/color/09B2CF/snappy_blue

// Php
$php-header-light: #8892bf;
$php-header-dark: #4f5b93;
$php-header-text: #ccc;
$php-header-text-hover: #fff;
$php-page-background: #323232;
$php-page-text: #f2f2f2;
$php-content-background: #f2f2f2;
$php-content-icon: #161616;
$php-content-text: #343434;
$php-link: #369;
$php-link-hover: #ae508d;
$php-header-complementary: #ffedb6;

// Bitters
$bitters-element-background: #477dca;

// Applied colors
$app-page-background: $php-page-background;

$app-header-background: $bitters-element-background;
$app-header-text: $php-page-text;

$app-body-background: $php-content-background;
$app-body-text: $php-content-text;

$app-footer-background: $php-page-background;
$app-footer-text: $php-page-text;
