<h3>Oferta 2</h3>

<ul>
  <li>Monitor OLED 27"</li>
  <li>Teclado Gaming Megaconfort Multimedia</li>
  <li>Raton de laboratorio (Dobla como broker de bolsa en sus ratos libres)</li>
  <li>Caja de diseño exclusivo "Baidefeis"</li>
  <li>Cableado con terminales de oro, con baño de platino y 30 diamantes Swarovski</li>
  <li>Total: $$$$$$$$$€</li>
</ul>
